:root {
  --backgroundDark: #000000;
  --FontColor1: #ffffff;
  --FontColor2: #ff6060;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
}
