.accommodationsInfo__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accommodationCollapse__section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5%;
}

.collapse__box {
  width: 45%;
}

p {
  font-size: 1.2rem !important;
}

@media screen and (max-width: 1000px) {
  .accommodationsInfo__box {
    flex-direction: column;
  }

  .accommodationCollapse__section {
    flex-direction: column;
  }

  .collapse__box {
    width: 100%;
  }

  p {
    font-size: 1rem !important;
  }
}
