.accommodationsInfo__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accommodationCollapse__section {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5%;
}

.collapse__box {
  width: 45%;
}
