.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundDark);
  height: 20%;
}

.footer img {
  height: 40px;
  width: 122px;
  padding: 50px;
}

.footer p {
  color: var(--FontColor1);
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .footer {
    height: 10rem;
  }

  .footer img {
    padding: 20px;
  }
}
