.header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header img {
  height: 68px;
  width: 210.32px;
}
