.nav {
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin-left: 7%;
  color: var(--FontColor2);
}

.nav a:hover {
  text-decoration: underline;
}

.activeStyle {
  text-decoration: underline;
}
@media screen and (max-width: 500px) {
  .nav {
    align-items: center;
    margin-top: 2%;
  }

  .nav a {
    text-transform: uppercase;
  }
}
