.nav {
  width: 360px;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin-left: 80px;
  text-decoration: none;
  color: var(--FontColor2);
}

.nav a:hover {
  border-bottom: 2px solid var(--PrimaryColor);
}

.activeLink {
  border-bottom: 2px solid var(--PrimaryColor);
}
