:root {
  --backgroundDark: #000000;
  --backgroundLight: #f6f6f6;
  --FontColor1: #ffffff;
  --FontColor2: #ff6060;
  --PrimaryColor: #ff6060;
  font-family: 'Montserrat', sans-serif;
}

/* body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
} */

main {
  margin-left: 10%;
  margin-right: 10%;
}

body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
p,
a {
  font-weight: 500;
}

h1 {
  font-size: 3rem !important;
}

a {
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  /* html {
    width: 100vw;
    height: 100vh;
  }
  body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  } */

  main {
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  h2,
  p {
    font-size: 1rem !important;
  }

  a {
    font-size: 0.9rem !important;
  }
}
